<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.BookingMapper">
	<insert id="insertRoomBooking" parameterType="booking">
		insert into roombooking values(#{roomNo}, #{email}, sysdate, to_date(#{checkIn}, 'mmddyyyy'), to_date(#{checkOut}, 'mmddyyyy'), 1, #{total})
	</insert>
	
	<select id="selectWishlistView" parameterType="String" resultType="booking">
		select r.roomno, r.hotelno ,wl.wishlistno, wl.hotelno, r.roomtype, r.roomsimplemanual, r.price, ri.roomimage
		from room r, wishlist wl, roomimage ri
		where r.roomno = wl.roomno and r.roomno = ri.roomno and wl.email = #{email}
	</select>
	
	<select id="selectBookingView" parameterType="String" resultType="booking">
		select r.roomno, h.hotelname, ri.roomimage, r.price, r.roomsimplemanual, r.roomdetailmanual, r.roomtype
		from room r, hotel h, roomimage ri where r.hotelno = h.hotelno and r.roomno = ri.roomno and r.roomno = #{roonNo}
	</select>
	<select id="selectHotel" resultType="hotel">
		select hotelno, hotelname,
		hoteladdress from hotel
	</select>
	<select id="searchRoom" parameterType="booking" resultType="booking">
		select ro.*, h.hotelname, (select ri.roomimage from
		roomimage ri where ro.roomno = ri.roomno) as roomimage
		from hotel h, room ro where h.hotelno = ro.hotelno and ro.hotelno = #{hotelNo}
		and ro.roomno not in( select distinct r.roomno from room r, roombooking rb 
		where r.roomno = rb.roomno and r.hotelno = #{hotelNo}
		and (to_date(#{checkIn}, 'mm/dd/yyyy') between rb.checkin and rb.checkout or to_date(#{checkOut}, 'mm/dd/yyyy') between
		rb.checkin and rb.checkout))
	</select>
	<insert id="insertWishlist" parameterType="booking">
		insert into wishlist values(wishlist_no.nextval, #{email}, #{roomNo}, #{hotelNo})
	</insert>
</mapper>







