<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.MainMapper">
	<select id="selectMainView" resultType="room">
		select r.roomno, r.hotelno, h.hotelname, r.roomtype, r.roomsimplemanual, r.price, (select ri.roomimage from roomimage ri where r.roomno = ri.roomno) as roomimage
		from room r, hotel h where r.hotelno = h.hotelno
	</select>
	
	<select id="selectHotelView" resultType="hotel">
		select * from hotel
	</select>
	
	<select id="selectRoomView" resultType="room">
		select r.roomno, r.roomtype, h.hotelname, r.roomsimplemanual, r.price, ri.roomimage as roomImage
		from room r, roomimage ri, hotel h where r.roomno = ri.roomno and r.hotelno = h.hotelno
	</select>
	
	<select id="selectRestaurantView" resultType="restaurant">
	select rs.hotelname, rs.restaurantimagepath, rs.restaurantno, rt.restauranttype, rs.restaurantprice
	from restaurant rs, restauranttype rt, hotel h
	where h.hotelno = rs.hotelno and rs.restauranttypeno = rt.restauranttypeno
	</select>
	
	<insert id="insertresbookingInfo" parameterType="restaurant">
		insert into restaurantbooking values(RESBOOK_SEQ.nextval, #{restaurantNo}, #{hotelNo},
		 #{mealType}, sysdate, to_date(#{bookingDate}, 'mmddyyyy'), #{restaurantPrice}, #{email}, #{personCount})
	</insert>
	
	<select id="selectRestaurantType" parameterType="String" resultType="restaurant">
		select r.restaurantno, rt.restauranttype, r.hotelname from restaurant r, restauranttype rt
		where r.restauranttypeno = rt.restauranttypeno and r.hotelno = #{hotelNo}
	</select>
</mapper>







